:root {
  --pomodoro: #B8FFF9;
  --shortBreak: #008080;
  --longBreak: #EF767A;
}

body {
  margin: 0;
  font-family: aviano-future, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 1s ease;
}
body .menu {
  height: 100vh;
  width: 3rem;
  background-color: #42C2FF;
  transition: all 1s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
body .menu .menu-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
body .menu .menu-container .menu-row {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #EFFFFD;
  border-bottom: 1px solid black;
  margin: auto;
  transition: all 1s ease;
  text-decoration: none;
}
body .menu .menu-container .menu-row .hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 32px;
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
body .menu .menu-container .menu-row .hamburger span {
  width: 25px;
  height: 2px;
  background-color: #EFFFFD;
}
body .menu .menu-container .menu-row .row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
body .menu .menu-container .menu-row .row .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #EFFFFD;
}
body .menu .menu-container .menu-row .row .timer-label, body .menu .menu-container .menu-row .row .tasks-label {
  margin-left: 1rem;
}
body .menu .menu-container .menu-row .row .dn1, body .menu .menu-container .menu-row .row .dn2 {
  display: none;
}
body .active {
  width: 20rem;
  transition: all 1s ease;
}
body .active .hamburger {
  transition: all 1s ease;
}
body .active .hamburger span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
body .active .hamburger span:nth-child(2) {
  opacity: 0;
}
body .active .hamburger span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
body .main {
  height: 100vh;
  width: 100%;
  background-color: var(--pomodoro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color 1s ease;
}
body .main progress {
  border-radius: 2px;
  width: 75%;
  height: 0.5rem;
  position: fixed;
  margin-top: 0;
}
body .main progress ::-webkit-progress-bar {
  background-color: #42C2FF;
}
body .main progress ::-webkit-progress-value {
  background-color: #EFFFFD;
}
body .main h1 {
  font-size: 3rem;
  margin: 0;
  color: #42C2FF;
}
body .main .btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4rem;
}
body .main .btn-section .mode-button {
  font-size: 1rem;
  font-family: aviano-future, sans-serif;
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  background: none;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #42C2FF;
  cursor: pointer;
  transition: all 1s ease;
}
body .main .btn-section .active-main {
  border-color: #EFFFFD;
}
body .main .timer {
  font-size: 10rem;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: milka, sans-serif;
  color: #42C2FF;
}
body .main .start-stop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
body .main .start-stop .btn {
  margin: 0 1rem;
  padding: 0.5rem 0.5rem;
  color: #42C2FF;
  border: 2px solid #42C2FF;
  font-weight: 400;
  transition: all 1s ease;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
