/* Error: Undefined variable.
 *     ,
 * 111 |         background-color: $electric-blue;
 *     |                           ^^^^^^^^^^^^^^
 *     '
 *   src/tasks.scss 111:27  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 111 \2502          background-color: $electric-blue;\a     \2502                            ^^^^^^^^^^^^^^\a     \2575 \a   src/tasks.scss 111:27  root stylesheet";
}
